<div class="login">
    <div class="content">
      <h1>CONECTA TUTOR</h1>
      <h3>Descubre, conecta y aprende iniciando sesión</h3>
      <form (ngSubmit)="onSubmit()">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" [(ngModel)]="credentials.usuario" name="usuario" required>
        
        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" [(ngModel)]="credentials.contrasena" name="contrasena" required>
        
        <button type="submit">Iniciar Sesión</button>
      </form>      
    </div>
  </div>
  