<div class="register">
    <div class="left-column">
      <img src="/assets/img/registro.jpg" alt="Imagen de registro">
    </div>
    <div class="right-column">
      <h1>Registro</h1>
      <form (ngSubmit)="onSubmit()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="user.nombre" name="nombre" required>
        
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" [(ngModel)]="user.apellidos" name="apellidos" required>
        
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" [(ngModel)]="user.usuario" name="usuario" required>
        
        <label for="id">ID:</label>
        <input type="text" id="id" [(ngModel)]="user.id" name="id" required>
        
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" [(ngModel)]="user.contrasena" name="contrasena" required>
        
        <button type="submit">Registrarme</button>
      </form>
      
    </div>
  </div>
  